body {
    background-image: linear-gradient(to right bottom,#83EAF1,#63A4FF);
      background-repeat: no-repeat;
      /* background-color:  */
      background-attachment: fixed;
      background-size: cover;
    }